<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Simple Blog</title>
</head>
<body>
    <div id="riskCardContainer">
         <div id="simpleRiskCard">
            <h1>Simple Risk Blog</h1>
        {% for post in posts %}
            <div>
                <h2>{{ post.title }}</h2>
                <p>By {{ post.author }} on {{ post.date_posted }}</p>
                <p>{{ post.content }}</p>
            </div>
        {% endfor %}

            <p>You now know all about risks.</p>

                <div id="degreeBtnHolder">
                    <p id="certSentence">Click below for your certificate</p>
                    <button onclick="addHappyFace()">Certified</button>
                    <div id="emoji-placeholder"></div>
                </div>
        </div>
    </div>
   
    

</body>

<script>
    function addHappyFace() {
        document.getElementById('emoji-placeholder').innerText = '😊';
    }
</script>

</html>
